{{#each playlists}}
  <section class="ui stacked segment"><h2 class="ui header">
      {{title}}
    </h2>
    <p> Total Duration: {{duration}}</p>
    {{#if songs}}
      <a href="/playlist/{{id}}" class="ui icon button"> <i class="folder open icon"></i> </a>
    {{/if}}
    <a href="/deletePlayList/{{id}}" class="delplaylist ui icon button" ><i class="trash icon"></i></a>
   </section>
{{/each}} 