{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    A Little Playlist Maker - Version 1
  </p>
  <p>
    <img src="assets/beethoven3.jpg" alt="Beethoven"><br>
    Beethoven 
  </p>
</section>